.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: black;
  height: 100vh;
  justify-content: center;
}

.grid:hover {
  cursor: pointer;
}

.row {
  display: flex;
  flex-direction: row;
}
.col {
  display: flex;
  flex-direction: column;
  background: #dee6e9;
  border: 2px solid #9e9ed4;
  padding: 16px;
}

.selected-column {
  background: blueviolet;
}

.not-selected-column {
  background: #dee6e9;
}

.next-generation-btn {
  background: #1976d2;
}

.btn {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  color: white;
  padding: 6px 16px;
  border: 2px white solid;
}

.reset-btn {
  background: #757575;
  margin-left: 12px;
}

.btn-container {
  display: flex;
  margin: 8px;
}

.disable-btn {
  cursor: not-allowed;
}
.active-btn {
  cursor: pointer;
}
